/* Set the size of the div element that contains the map */
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  padding-right: 150px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  padding-right: 150px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
